/* .body {
  padding: 0;
  margin: 0;
} */
/* 
aboutus {
} */

html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

/* hr {
  border: 5px solid rgb(241, 238, 238);
} */

.carousel-caption {
  top: 0;
  bottom: auto;
}
.contact {
  background-image: url('./img/food2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: left;
}

.contact h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(243, 243, 243);
  text-align: center;
}

.forms {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(243, 243, 243);
  text-align: left;
  margin-left: 30px;
}

.submit {
  font-size: 25px;
  border: 0ex;
}
